.info-panel {
    background-color: white;
    padding: 20px;

    p {
        margin-bottom: 10px;
        font-size: 0.9em;

        &:last-child {
            margin: 0;
        }
    }

    a {
        text-decoration: underline;
        color: #3686FF;
    }

    hr {
        margin-bottom: 10px;
    }

    ul {
        list-style-type: disc;
        padding-left: 20px;

        li {
            font-size: 0.9em;
        }
    }
}