.navbar {
    width: 15%;
    border-right: 2px solid #F2F3F5;
    height: 100vh;
    padding: 90px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    a {
        padding: 10px 15px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        color: #A0A7B6;

        svg {
            width: 30px;
            height: 30px;
            margin-right: 20px;

            path {
                stroke: #A0A7B6;
                fill: #A0A7B6;
            }
        }

        &:hover {
            background-color: rgba(#3686FF, 0.1);
        }
    }

    .router-link-active {
        background-color: #3686FF;
        color: white;

        svg {
            background-color: white;
            border-radius: 50%;
            padding: 4px;
        }

        path {
            stroke: #3686FF;
            fill: #3686FF;
        }

        &:hover {
            background-color: #3686FF;
        }
    }
}

